<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {% block title %}
      <title>Live Chat </title>
  {% endblock %}


  {% block style %}
  <style>
      .success {
          color: green;
          position: absolute;
          top: 0;
          right: 0;
          margin: 10px;
      }
  </style>
  {% endblock %}

  {% block links %}
  {% endblock %}

</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li class="success">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block body %}
{% endblock %}
</body>
</html>